    <div class="row">
        <div class="col-12">
            <h2><%= title %></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            <%= link_to 'Questions? Read the Dashboard FAQ and Documentation', 'https://docs.google.com/document/d/1LohYMtb_AZfTUFDEzovYB0zo-5JBw5i9B8iZSt1feAM/edit?tab=t.0#heading=h.vh65hbsggtq4', class: 'link-primary text-decoration-underline' %>
        </div>
    </div>
