<h2>About</h2>

<p>Our RIALTO (research intelligence) service assists schools, departments, shared facilities, and other campus stakeholders in gathering and analyzing information regarding publications and other research outputs. Collecting and compiling data related to research is challenging, requiring access to multiple data sources, application programming interfaces (APIs), analysis skills, and specialized knowledge of research policies and data practices.</p>

<p>Research intelligence services can efficiently navigate this terrain, preventing underreporting of outputs and the need to train departmental staff in these techniques. We support the Stanford community by creating reports that provide insight into publication patterns, research impact, collaboration networks, and other features of research outputs.</p>

<p><%= link_to 'Email us', 'mailto:rialto-service@lists.stanford.edu' %> for help with your research reporting needs.</p>
