<h1>Some Stanford Only Graph</h1>

<tableau-viz id="tableau-viz"
    src='<%= Settings.tableau.base_url %>/t/DLSS/views/OpenAccess/StanfordOAOverview'
    token='<%= @token %>'
    height='1363'
    width='1200'
    toolbar='bottom'>
</tableau-viz>
